<div class="container">
    <div class="row">
        <div class="col-3">
            <h3>Ecomm</h3>
        </div>
        <div class="col-5">
            <input type="text" placeholder="search Product">
            <button>Search</button>
        </div>
        <div class="col-4">
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Seller</a></li>
                <li><a href="#">Cart(0)</a></li>
                <li><a href="#">Login</a></li>
            </ul>

        </div>
    </div>
</div>